<%- include('header'); -%>

<div style="text-align: center;">
    <h2>This is about the creator Samarth Gaikwad</h2>
    <p>github username : nero7777</p>
    <p>Contact me at : samarthgaikwad38@gmail.com</p>
    <p>9503092018</p>
    
</div>

<%- include('footer'); -%>